$wrapper-color: linear-gradient(90deg, rgba(1, 0, 56, 1) 0%, rgba(56, 0, 0, 1) 100%);
$btn-color: #fa8305;
$btn-hover-color: #a02604;
$btn-details-color: #25211d;
$cont-label-color: #4f4f4f;
$cont-input-color: #2c2420;