@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'blocks/preloader';
@import 'base/variables';
@import 'blocks/header.scss';
@import 'blocks/menu-burger';
@import 'blocks/button.scss';
@import 'blocks/main';
@import 'blocks/trending';
@import 'blocks/news';
@import 'blocks/benefits';
@import 'blocks/gallery';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/promo-us';
@import 'blocks/review';
@import 'blocks/promo-contacts';
@import 'blocks/form-contacts';
@import 'blocks/modal';
@import 'base/media';


body {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #000;
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background: $wrapper-color;
    &__form-contacts {
        display: block;
        width: 100%;
        height: 100%;
        background: #1c140f;
    }
}

.container {
    display: block;
    position: relative;
    width: 86%;
    margin: 0 auto;
}