// @media (max-width: 1451px) {
    
// }

// @media (max-width: 1430px) {
    
// }

// @media (max-width: 1251px) {
    
// }

@media (max-width: 1025px) {
    .benefits {
        margin-top: 150px;
    }
}

@media (max-width: 900px) {
    .benefits {
        &__title {
            max-width: 100%;
            text-wrap: balance;
        }
        &__descr {
            max-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .benefits {
        &__blocks {
            display: none;
            &_slick {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
        }
        
        &__block {
            &_slick {
                align-items: center;
                text-align: center;
                max-width: 200px;
                min-height: 200px;
                width: auto;
                position: relative;
                margin-top: 50px;
                &:not(:last-child) {
                    margin-right: 50px;
                }
            }
            &__img {
                margin: 0 auto;
            }
            &__text {
                margin: 20px auto;
               
            }
            &__icon {
                margin: 0 auto;
                bottom: 0;
            }
        }
        &__title {
            margin: 0 auto;
            width: 100%;
        }
        &__descr {
            display: none;
        }
    }
}

// @media (max-width: 426px) {
    
// }