.benefits {
    display: block;
    max-width: 100%;
    overflow: visible;
    margin-top: 100px;
    padding: 80px 0;
    background:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9)), url('../../img/bgForBenefits.jpg') /*Создание затемнения фонового изображения в виде градиента*/ no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    &__title {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        font-weight: 600;
        max-width: 60%;
        margin: 0 auto;
    }
    &__descr {
        font-size: 19px;
        max-width: 60%;
        margin: 0 auto;
        margin-top: 30px;
    }
    &__blocks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &_slick {
            display: none;
            text-align: center;
            mask-image: linear-gradient(90deg, transparent, #000 13%, #000 87%, transparent 100%);
        }
    }
    &__block {
        width: 300px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_slick {
            align-self: center;
        }
        &__img {
            width: 70px;
            border-radius: 50%;
            background: #bdbcbb;
            padding: 10px;
        }
        &__text {
            font-size: 19px;
            text-align: center;
        }
        &__icon {
            width: 50px;
            border-radius: 50%;
            background: $btn-color;
            filter: brightness(70%);
            padding: 10px;
            cursor: pointer;
            align-items: center;
        }
    }
}